.App {
  text-align: center;
}

.card-title-font-style {
  font-weight: 700;
  font-size: 18px;
  font-family: "Karla", sans-serif;
}

.card-description-font-style {
  font-size: 16px;
  font-weight: 400;
  font-family: "Karla", sans-serif;
}

.subtitle-font-style {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
}

.title-font-style {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
}

.action-btn-font-style {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.section-title-font-style {
  font-weight: 800;
  font-size: 20px;
  font-family: "Karla", sans-serif;
}

.info-icon,
.exclamation-mark {
  height: 16px;
  width: 16px;
}

.email-notification,
.error-msg {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 4px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.error-msg {
  border-left: 1px solid #ff0000;
  background-color: #f8cccc;
}

.email-notification {
  border-left: 1px solid #008000;
  background-color: #a5e6a5;
  width: max-content;
}

.action-btn {
  background-color: #f4ce14;
  color: #000000;
  padding: 10px 16px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.input-box {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #000000;
}

.form-style {
  display: grid;
  max-width: 600px;
  gap: 20px;
}

.booking-page-wrapper,
.reservation-page-wrapper,
.reservation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
}

.booking-page-wrapper,
.reservation-page-wrapper {
  margin-left: 30%;
}

.reservation-wrapper {
  margin-left: 30%;
  justify-content: center;
}

.legend {
  margin-top: 20px;
}

.action-btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

@media only screen and (max-width: 1179px) {
  .booking-page-wrapper,
  .reservation-page-wrapper,
  .reservation-wrapper {
    margin: 30px;
  }
  .form-style {
    width: 100%;
    max-width: 100%;
  }
}
